<%= simple_form_for @comment do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :body, input_html: { class: 'form-control' }%>
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to "Cancel", comments_path, class: 'btn btn-primary' %>
    <%= link_to 'Delete', comment_path, method: :delete, data: { confirm: "Are you sure you want to delete this picture?" }, class: 'btn btn-danger'%>

<% end %>
