<%= simple_form_for @user, html: { multipart: true } do |f| %>
  <div class="col-md-4 col-md-offset-4">
      <%= f.input :name, input_html: {maxLength: 40, class: 'form-control'} %>
      <%= f.input :email, input_html: {maxLength: 40, class: 'form-control'} %>
      <%= f.input :password, input_html: {maxLength: 20, class: 'form-control'} %>
      <%= f.hint '**Max length: 20 characters' %>
      <%= f.input :password_confirmation, input_html: {maxLength: 20, class: 'form-control'} %>
      <%= f.input :avatar, input_html: {class: 'form-control'} %>
      <%= f.submit 'Create Account', class: 'btn btn-success' %>
      <%= link_to "Cancel", root_path, class: 'btn btn-primary' %>
      
  </div>
<% end %>
