<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit Your Account</h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for @user, html: { multipart: true } do |f| %>
          <div class="form-group">
              <%= f.input :name, input_html: {maxLength: 40, class: 'form-control'} %>
              <%= f.input :email, input_html: {maxLength: 40, class: 'form-control'} %>
              <%= f.input :password, input_html: {maxLength: 20, class: 'form-control'} %>
              <%= f.hint "**Leave blank if you don't want to change" %>
              <%= f.input :password_confirmation, input_html: {maxLength: 20, class: 'form-control'} %>
              <%= f.input :avatar, input_html: {class: 'form-control'} %>
              <%= f.button :submit, 'Submit Changes', class: 'btn btn-success' %>
              <%= link_to "Cancel", images_path, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
   </div>
 </div>
</div>
