<h1>Welcome, <%= @user.name %></h1>
<br>
<h2>Below are your images:</h2>

<%= link_to 'Upload New Image', new_image_path %> <br> <br> <br>

<% @user.images.each do |i| %>
  Title: <%= i.title.capitalize %> <br>
    <%= image_tag(i.image_url, size: '400x300', crop: 'fill') %> <br>
  Uploaded <%= i.created_at.strftime("%d %b. %Y") + ' at ' + i.created_at.strftime("%H:%M") %> <br>
  Description: <%= i.description.capitalize %> <br>
  Tags: <%= i.tags %> <br><br><br>
<% end %>
