<div class="text-center">
  <% if @current_user.images.count < 1 %>
    <h1>No images exist in <%= @current_user.name %>'s library </h1>
    <br>
    <%= link_to 'Upload Your 1st Image', new_image_path, class: 'btn btn-primary'%>
    <br> <br>
  <% else %>
    <h1><%= @user.name %>'s Images</h1>
    <br>
    <br>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
      <div id='pins' class='transitions-enabled'>
        <% @user.images.each do |i| %>
          <div class="box panel panel-default">
            <%= link_to (image_tag(i.img.url)), edit_image_path(i.id) %>
              <div class="panel-body">
                <h2><%= i.title.capitalize %></h2><hr>
                <p>Uploaded <%= time_ago_in_words(i.created_at) + ' ago by you' %></p>
              </div>
          </div>
          <% end %>
      </div>
    </div>
</div>

<script>
$(function(){
  $('#pins').imagesLoaded(function(){
    $('#pins').masonry({
      itemSelector: '.box',
      isFitWidth: true
    })
  })
})
</script>
