<%= simple_form_for @image, html: {multipart: true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, input_html: { maxLength: 40, class: 'form-control' }%>
  <%= f.input :description, input_html: { class: 'form-control' } %>
  <%= f.input :tags, input_html: { class: 'form-control' } %>
  <%= f.input :img, input_html: { class: 'form-control' } %>
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to "Cancel", images_path, class: 'btn btn-primary' %>

<% end %>
