<% if Image.count > 0 %>

<div class="text-center">
  <h1>Image Feed</h1><br>
</div>

<div id='pins' class='transitions-enabled'>
  <% @images.each do |i| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(i.img.url), image_path(i.id) %>
        <div class="panel-body">
          <h2><%= i.title %></h2>
          <p>Uploaded <%= time_ago_in_words(i.created_at) + ' ago by ' + i.user.name%></p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <div class="btn-group pull-left">
                <span class='glyphicon glyphicon-heart'>
                  <%= i.get_upvotes.size %>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% end %>
</div>

<% else %>
  <h1>No images to dislay :-(</h1>
  <%= link_to 'Upload Image', new_image_path %>

  <% end %>


<script>
$(function(){
  $('#pins').imagesLoaded(function(){
    $('#pins').masonry({
      itemSelector: '.box',
      isFitWidth: true
    })
  })
})
</script>
